.promo-banner{
    background-color: $magentahaze;
    display: flex;
    gap: 1em;
    width: 100%;
    align-items: center;
    padding: 1em;

    .promo-icon{
        font-size: 3rem;
        color: #fff;
    }

    .promo-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2{
            color: #fff;
            font-size: 2.5rem;
        }
        
    }
}