.site-hero{
    border: 1px solid #000;
    height: 260px;
    margin-bottom: 0.5em;
    overflow: hidden;

    .hero-display-1{
        display: block;
    }

    .hero-display-2{
        display: none;
    }

    .hero-display-3{
        display: none;
    }
}