.site-hero{
    border: 1px solid #000;
    height: 260px;
    width: 100%;
    margin-bottom: 0.5em;

    .hero-display-1{
        display: grid;
        place-items: center;
        text-align: center;
        height: 100%;
        font-size: 2.5rem;
    }

    .hero-display-2{
        display: none;
    }

    .hero-display-3{
        display: none;
    }
}